

:root {
    --color-white: #fdfdfd;
    --color-darkblue: #442323;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65; 
}


*, *::before, *::after {
    box-sizing: border-box;
   
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
     
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(165, 63, 63, 0.8),
        rgba(102, 78, 76, 0.7)
      ),
      url(./images/geometry-1023846_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  h1  {
      text-align: center;
      font-family: serif;
      line-height: 5;
  }

  p {
      text-align: center;
      font-size: 20px;
      font-style: oblique;
      font-weight: bold;
  }


  .image-tree {
      width: 20%;
      position: relative;
      display: flex;
     margin: 10% 45%;
    

      

  }
  .svg-wrapper {
    position: relative;
    top: 90%;
    transform: translateY(-50%);
    transform: translateX(6%);
    margin: 0 3rem;
    width: 90%;
    
    
  }
  .shape1,
  .shape2 {
    stroke-dasharray: 1620;
    stroke-width: 8px;
    fill: transparent;
    stroke: #19f6e8;
    border-bottom: 8px solid rgb(0, 0, 0);
    transition-timing-function: linear;
    transition: stroke-dashoffset 5s, stroke-dasharray 10s;
   
    
    
  }
  .shape1 {
    stroke-dashoffset: 1620;
  }
  .shape2 {
    stroke-dashoffset: -1620;
  }
  .text .a {
    font-family: 'Roboto Condensed';
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    top: -48px;
    position: relative;
    text-decoration: none;
    left: 30px;
    
    
  }

  .text a:hover {
    color: orange;
}
.svg-wrapper:hover .shape1,
.svg-wrapper:hover .shape2 {
  stroke-dashoffset: 0;
  stroke-dasharray: 1620;
 

  
}



  form {
    background: var(--color-darkblue-alpha);
    padding: 0.5rem 5rem 5rem 5rem;
    border-radius: 0.25rem;
    margin: 15vh 15vw;
  }

 
 #name-label, #lastname-label, #email-label, #number-label  {
    position: relative;
    left: 48px;
    font-weight: bold;
    top: 30px;
   
}
 

#number, #email, #lastname, #name, #dropdown, .msg-survey, #comments  {
    width: 90%;
    padding: 10px ;
    position: relative;
    left: 50px;
    display: flex;
    top: 1rem;
    margin-top: 20px;
    
} 

#dropdown:hover {
    border: 2px solid rgb(0, 110, 255);
    background-color: #a4c1c5;
}



.button-os {

    width: 90%;
    height: 50px;
    position: relative;
    left: 60px;
    display: flex;
    top: 5px;
    flex-direction: column;
    font-size: 20px;
}

#checkboxes {

    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
    font-size: 20px;
    height: 6.5em;
}

#submit {

    width: 50%;
    padding: 20px ;
    position: relative;
    left: 25%;
    display: flex;
    top: 3rem;
    margin-top: 20px;
    justify-content: center;
    background-color: var(--color-darkblue);
    color: #fdfdfd;
    border: 5px outset gray;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(84, 84, 122);
    color: black;
    
}

#submit:active {
    transform: translateY(4px); 
}

#footer-container {
    background-color: #525a64;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    
    
}

.footer-right {
    padding: 50px 5px;
       max-width: 60%;
}

#about {
     color: rgb(196, 180, 180);
     font-size: 20px;
     position: relative;
     bottom: 45px;
}
.footer-left {
    color: white;
    width: 50rem;
    height: 20rem;
    border-right: 2px solid white;
    font-size: 30px;



}
.fa-brands {
    padding: 20px;
    width: auto;
}

.fa-brands:hover {
    opacity: 0.7;
}
.fa-facebook, .fa-linkedin, .fa-github, .fa-twitter  {
    
    color: rgb(253, 247, 247);
    font-size: 50px;
    border-radius: 50%;
   
}

.copyright  {
    color: wheat;
    padding: 1px 10px;
    text-align: right;
    
}
.fa-copyright {
    font-size: 20px;
    color: rgb(253, 247, 247);
}